$primary_color: #FAEBD7;

html {
  background-color: #1E90FF;
}

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 12px;
  }
}

a {
  color: #1E90FF;
  margin-right: 10px;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px #DEB887;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

img {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  a {
    color: #0000CD;
  }
  a:hover {
    color:  #DEB887;
  }
  &.comment {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

th {
  padding: 5px 10px;
  padding-left: 0;
}

a.new_article {
  color: #1E90FF;
  font-weight: bold;
}

.articles-heading {
  padding: 7px;
  min-width: 537px;
  max-width:947px;
}

h6 {
  padding-top: 10px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-size: 16px;
  text-align: center;
}

.alert-error {
  color: #a94442;
  font-size: 16px;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
}

div.alert {
  margin: 2px;
  padding: 15px;
}

