$primary_color: #FAEBD7;

html {
  background-color: #1E90FF;
}

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 12px;
  }
}

a {
  color: #1E90FF;
  margin-right: 10px;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px #DEB887;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

img {
  width: 490px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  max-width: 900px;
  min-width: 500px;
  margin-bottom: 20px;
  a {
    color: #0000CD;
  }
  a:hover {
    color:  #DEB887;
  }
}

th {
  padding: 5px 10px;
  padding-left: 0;
}

a.new_article {
  color: #1E90FF;
  font-weight: bold;
}